<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portfolio - My Projects</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
            background-color: #f4f4f4;
        }

        section {
            padding: 50px 20px;
            text-align: center;
        }

        h2 {
            font-size: 2.5rem;
            color: #333;
            margin-bottom: 40px;
        }

        .project-cards {
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
            gap: 20px;
            max-width: 1200px;
            margin: 0 auto;
        }

        .project-card {
            background-color: #fff;
            border-radius: 10px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
            padding: 20px;
            text-align: left;
            transition: transform 0.3s ease;
        }

        .project-card:hover {
            transform: translateY(-10px);
        }

        .project-card img {
            max-width: 100%;
            border-radius: 10px;
        }

        .project-card h3 {
            font-size: 1.5rem;
            color: #555;
            margin-top: 15px;
        }

        .project-card p {
            font-size: 1rem;
            color: #777;
            margin-top: 10px;
        }

        .project-card a {
            display: inline-block;
            margin-top: 15px;
            color: #007BFF;
            text-decoration: none;
            font-weight: bold;
        }

        .project-card a:hover {
            text-decoration: underline;
        }
    </style>
</head>

<body>
    <%- include('nav.ejs') %>

    <section>
        <h2>My Projects</h2>
        <% projects.forEach(project => { %>
            <div class="project-cards" style="display: flex;">
                <%- include('projectCard.ejs', {"project": project}) %>
            </div>
        <% }) %>

    </section>

    <%- include('footer.ejs') %>
</body>


</html>