<style>
    .project-card {
        max-width: 350px;
        background-color: #fff;
        border-radius: 10px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        overflow: hidden;
        transition: transform 0.3s, box-shadow 0.3s;
    }

    .project-card:hover {
        transform: translateY(-10px);
        box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    }

    .project-image {
        width: 100%;
        height: 200px;
        object-fit: cover;
    }

    .project-content {
        padding: 20px;
        text-align: left;
    }

    .project-title {
        font-size: 1.5em;
        color: #333;
        margin-bottom: 10px;
    }

    .project-description {
        font-size: 1em;
        color: #555;
        margin-bottom: 15px;
        line-height: 1.6;
    }

    .project-button {
        display: inline-block;
        padding: 10px 20px;
        font-size: 1em;
        color: #ff4b4b;
        background-color: #fff;
        text-decoration: none;
        border-radius: 5px;
        border: 2px solid #ff4b4b;
        transition: background-color 0.3s, color 0.3s;
    }

    .project-button:hover {
        background-color: #ff4b4b;
        color: #fff;
    }
</style>

<div class="project-card">
    <img src="/assets/images/portfolio/BlurBGLandscape.jpeg" alt="Project Image" class="project-image" />
    <div class="project-content">
        <h3 class="project-title">
            <%= project.projectTitle %>
        </h3>
        <p class="project-description">
            A brief description of the project. This project showcases full-stack development, featuring both front-end
            and back-end technologies.
        </p>
        <a href="project/<%= project.metaUrl %>" class="project-button">View Details</a>
    </div>
</div>