<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rehaman | Portfolio</title>
    <link rel="stylesheet" href="/styles/newPorfolio.css">
</head>

<body>
    <%- include('partials/nav.ejs') %>
        <section class="introSection">
            <div class="introSectionDiv1">
                <div class="intro-text">
                    <h1>
                        Hi, my name is <br>
                        <span>Rehaman</span>
                    </h1>
                    <p>
                        I'm a <span>Full-Stack Developer</span> with a passion for building Web applications, Mobile
                        applications and Games.
                    </p>
                </div>
                <div>
                    <img style="border-radius: 50%; height: 600px; width: auto;"
                        src="/assets/images/portfolio/cartoon_guy.jpeg" alt="Rehaman">
                </div>
            </div>
        </section>
        <hr>
        <section class="about-section">
            <div class="about-content">
                <h2>About Me</h2>
                <p>
                    I’m Rehaman, a Full-Stack Developer with a deep passion for crafting dynamic and user-friendly web
                    and mobile
                    applications. With experience in both front-end and back-end technologies, I enjoy building
                    solutions that are
                    not only functional but also provide a seamless user experience.
                </p>
                <p>
                    I’ve honed my skills in various programming languages, frameworks, and tools.
                    Whether it's
                    developing robust APIs, designing intuitive interfaces, or optimizing performance, I thrive on the
                    challenges
                    that come with turning ideas into reality.
                </p>
            </div>
        </section>
        <hr>
        <section class="projects-section">
            <div class="projects-content">
                <h2>Projects</h2>
                <p>
                    Here are a few projects I’ve worked on, including both full-stack development and game development.
                </p>
                <a href="/portfolio/projects">View All Projects</a>
            </div>
        </section>
        <%- include('partials/footer.ejs') %>
</body>

</html>